{% extends 'base.html.twig' %}

{% block body %}
    <h2>A propos de nous !</h2>

    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur assumenda atque, autem consequuntur
        dolore eum facere id, laborum libero maxime odit placeat provident quia quos repellendus repudiandae voluptas
        voluptatem!
    </div>
{% endblock %}

